footer {
    background: #202020;
    width: 100%;
    display: flex;
    height: 120px;
    justify-content: center;
}

footer div#footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-family: var(--font-link);
    line-height: 20px;
    color: white;
    filter: drop-shadow(1px 1px 0px black);

}

footer div#footer div#contact,
footer div#footer div#network {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}


footer div#footer div#contact h3 {
    font-size: clamp(1rem,2vw,2rem);

}

footer div#footer div#network h3 {
    font-size: clamp(1rem,2vw,2rem);
    align-self: center;
}

footer div#footer div#network li {
    width: 40px;
}

footer div#footer div#network a img {
    width: 100%;
    filter: drop-shadow(0px 0px 6px white);
}


footer div#footer div#network ul {
    display: flex;
    width: 250px;
    justify-content: space-evenly;
}

footer div#footer div#name h3 {
    color: #ffdf64;
    font-weight: bold;
    font-size: clamp(3rem,2vw,4rem);
    filter: drop-shadow(0px 0px 15px black);
}

footer div#footer div#name span {
    color: #b9b9b9;
}