@keyframes button-effect {
    to {
        background-position: right 12px center;
    }
    
    from {
        width: 100%;
        background-image: url('../img/whatsapp2.svg');
        background-position: right 12px center;
    }
}

@keyframes button-effect1 {
    from {
        background-position: right 12px center;
    }
    
    to {
        width: 100%;
        background-image: url('../img/whatsapp2.svg');
        background-position: right 12px center;
    }
}

